.form-container {
    background-color: #FFFF;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20%;
    box-shadow: rgb(0 0 0 / 94%) 0px 14px 20px 3px;
    text-align: center;
}

.form {
    width: 235px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .form-container {
        padding: 30px 8px;
    }
}